<div class="footer <%= yield(:footer_class)%>">
    <h4>Follow Us</h4>
    <p>This west London stalwart is recognisable by its bold red frontage, with esteemed salons stretching <br> 
       from Parsons Green to Notting Hill. The new Fulham outpost encapsulates everything we love <br>
       about Ely's and is styled with a verdant living wall and unique hair Herb Bar.
    </p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p class="copyright"> Made by <i class="far fa-copyright"></i></i><em>Ely</em></p>
</div>