<div class="container-stylists">
  <div class="banner-stylists" id="banner-stylists">
    <div class="text-box-stylists"> 
      <h1>Book your favourite <br> stylist</h1> 
      <ul>
        <% @stylists.each do |stylist| %>
          <li><%= link_to stylist.name, stylist_path(stylist) %></li>
        <% end %>
      </ul>
      <%# <%= link_to  "Our Stylists", stylists_path, class: "hero-btn" %> 
    </div>
  </div>
<%# </div> %>
