// call to action

.cta {
    margin: 100px;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), image-url("salon2.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    opacity: 0.6;
    margin-bottom: 40px;
    font-size: 32px;
    padding: 0;
}


@media(max-width: 700px) {
    .cta h1 {
        font-size: 24px;
    }

    .cta {
        margin: 10% !important;
    }
}