.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
}

.facilities h1 {
    color: black;
    opacity: 0.6;
}

.facilities p {
    padding-bottom: 20px;
    color: black;
    opacity: 0.6;
}

.facilities-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    // height: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    color: black;
    opacity: 0.6;
}