.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

.navbar-lewagon .nav-links {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  object-fit: cover;
  margin-left: 10px;
}


.navbar-nav .dropdown-menu {
  position: static;
  float: none;
  background-color: transparent;
  color: white !important;
}

.navbar-home {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
  .nav-link {
      color: white !important;
      opacity: 0.8;
  }
  .img {
      color: transparent;
  }

  .navbar-toggler {
    background-color: white!important;
    color: aliceblue;
    opacity: 0.3;
  }
}






nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-size: 20px;
  // font-weight: bold;
}

.nav-links ul li::after {
  content: '';
  width: 0%; 
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.navbar-nav .fa {
  display: none;
}

