.stylist-container {
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), image-url("salon-image.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 80px 0;
    object-fit: cover;
}

.stylist-container h1 {
    color: #fff;
    opacity: 0.6;
    margin-bottom: 25px;
    font-size: 45px;
    padding: 0;
}

.stylist-container h2 {
    color: #fff;
    opacity: 0.6;
    margin-bottom: 20px;
    font-size: 32px;
    padding: 0;
}



.stylist-details {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}


.stylists-col-1 {
    flex-basis: 100%;
    margin-bottom: 5%;
    padding: 25px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border-radius: 5px;
    background: #e7e6e1;
    box-shadow: 0px 0px 15px #b4a9a9;
    
}

.stylists-col-1 h1 {
    font-size: 32px !important;
    font-weight: 600;
    color:black;
    opacity: 0.5;
}


.stylists-col-1:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.852);
}




.stylist-details-price-and-style ol {
    box-shadow: 0px 0px 15px hsl(0, 7%, 35%);
    padding: 20px;
    border-radius: 5px;
}

.stylist-details-price-and-style ol li {
    background:  #e7e6e1;
    padding: 5px;
    // margin-left: 35px;
    list-style: none;
    color:black;
    opacity: 0.6;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #958989;
}

.stylist-appointment-container {
    color:black;
    opacity: 0.6;
    height: 200px;
    margin: 0 auto;
    padding-top: 35px !important;
    box-shadow: 0px 0px 15px hsl(0, 7%, 35%);
    border-radius: 5px;
    background-color: #e7e6e1 !important;
    margin-top: 30px;
    text-align: center;
}

.stylist-appointment-form {
    width: 100%;
    font-size: 18px;
}

input {
    margin-top: 5px;
}




@media(max-width: 700px){
    .stylist-appointment-container {
        height: 250px;
    }
}