.testimonials {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.testimonial-col {
    flex-basis: 48%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: hsl(0, 30%, 93%);
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 50px;
    border-radius: 50%;
}

.testimonial-col p {
    padding: 0;
}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.testimonial-col .fas {
    color: #f44336;
}

.testimonial-col .far {
    color: #f44336;
}

@media(max-width: 700px) {
    .testimonial-col img {
        margin-left: 0px;
        margin-right: 15px;
    }
}