<% @appointments.each do |appointment| %>

<%= link_to appointment.customer.name, appointment_path(appointment.id) %><br>
<h2><%= appointment.date.strftime("%d/%m/%Y - %k:%M") %></h2>

<br>

<% end %>